.sneakersContainer {
  margin-top: 2rem;
  padding: 0 2.6rem;
}
.sneakersHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sneakersHeader input {
  width: 200px;
  height: 35px;

  border: 1px solid #c2c2c2;
  border-radius: 10px;

  padding: 10px;

  font-size: 16px;
}
.sneakersMain {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.7rem;
  row-gap: 1.5rem;
}
