.paginationContainer {
  width: 100%;
  margin-top: 60px;
  height: 90px;
  display: flex;
  justify-content: center;
}
.paginationContainer div {
  display: flex;
  width: 250px;
  height: 90px;
  align-items: center;
  justify-content: center;
}
.paginationContainer div span {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 50px;
}
.paginationContainer div p {
  margin-top: -20px;
  font-size: 60px;
}
.disabledArrow {
  color: rgb(111, 111, 111);
  pointer-events: none;
}
