* {
  margin: 0;
  text-decoration: none;

  padding: 0;
}

.headerContainer {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border: none;
  border-bottom: 1px solid rgb(198, 198, 198);
}
.headerLeft {
  display: flex;
  cursor: pointer;
}
.headerLeft img {
  width: 40px;
}
.headerLeft div {
  margin-left: 0.625rem;
}
.headerLeft div p {
  font-family: inter;
  font-weight: 700;
  color: #000;
  font-size: 1.25rem;
}
.headerLeft div span {
  font-weight: 400;
  font-family: inter;
  color: #9d9d9d;
  font-size: 1rem;
}
.headerRight {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: inter;
  font-weight: 600;
  color: #5c5c5c;
  color: #5c5c5c;
}
.headerRight div {
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
}
.cart {
  margin-right: 0.25rem;

  color: #9b9b9b;
  color: #5c5c5c;
  font-size: 1.5rem;
}
.fullLike {
  margin: 0 6px;

  font-size: 1.5rem;
  color: #5c5c5c;
}
.profileImg {
  margin: 0 6px;

  color: #5c5c5c;
  font-size: 1.5rem;
}
